

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

   <bean id = "dev" class="com.telusko.Dev" autowire="byName">
       <property name="comp" ref="desk1" />
<!--    or <property name="comp" ref="lap1" />-->
    </bean>



    <bean id = "lap1" class="com.telusko.Laptop">

    </bean>

    <bean id="desk1" class="com.telusko.Desktop">

    </bean>

</beans>